// Place all the styles related to the Sightings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #a1fff2;
  // display: flex;
  // justify-content: space-around;
  // flex-wrap: wrap;
  // flex-direction: column;
  // width: 13%;
  // margin: 0 auto
}

h1 {
  font-size: 3.5em;
  text-align: center;
  // margin-top: 1.5em;
  // margin-bottom: 1.5em;
}

// .container {
//   display: flex;
//   justify-content: space-around;
//   flex-wrap: wrap;
//   flex-direction: column;
//   width: 13%;
//   margin: 0 auto
// }

table {

  // border: 2px solid black;
}

// #table {
//   display: flex;
// }

#body {
  color: red;
}

// #linkto {
//   font-size: 18px;
//   font-weight: bold;
//   display: flex;
//
//   margin: 0 auto;
// }

#boxes {
  width: 60%;
  margin: 0 auto;
}

#title {

  text-align: center;
}

// #form {
//   display: flex;
//
//   margin: 0 auto;
// }

div {
  // color: white;
  // display: flex;
  // justify-content: space-around;
  // flex-wrap: wrap;
  // flex-direction: column;
}
